body{
	background-color: #F1F1F1;
}

.top-line{
	background-color: #E83B3F;
}
.top-line ul{
	list-style-type: none;
	padding: 0;
}
.top-line li{
	display: inline-block;
	margin-top: 10px;
	margin-right: 20px;
}
.top-line a{
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	padding: 3px 3px;
	font-size: 18px;
}
.top-line a:hover{
	color: #ead6d6;
	transition: all 0.3s ease;
}
.shopping-cart{
	float: right;
	position: relative;
}
// .cart-total{
// 	border: 1px solid #fff;
//     border-radius: 50%;
//     background: #fff;
//     color: #000;
//     display: inline-block;
//     font-size: 9px;
//     font-weight: 600;
//     height: 13px;
//     left: 54%;
//     line-height: 12px;
//     position: absolute;
//     text-align: center;
//     top: 3px;
//     left: 14px;
//     width: 13px;
//     padding-bottom: 0;
// }
.header-text{
	text-align: center;
}
.header-title h2{
	font-weight: 800;
	line-height: 2.1;
}

.navigation nav{
	width: 100%;
}
.navigation nav ul{
	list-style-type: none;
	padding: 0;
}
.navigation nav ul li{
	display: inline;
}
.navigation nav ul li a{
	margin:0 60px;
	padding: 0 5px;
	color: black;
	-moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
	transition: all 0.3s;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px;
}
.navigation nav ul li a:hover{
	background-color: #E83B3F;
	color: #FFFFFF;
	padding: 5px 10px;
}
.navigation-text{
	position: relative;
	color: white;
	text-align: center;
	padding-top: 60px;
	text-transform: uppercase;
}
.navigation-text h1{
	font-size: 45px;
	font-weight: 800;
	color: #a2a0a0;
}
.navigation-text a{
	text-decoration: none;
	color: white;
}
.navigation-text a:hover{
	background-color: grey;
	transition: all 0.3s ease;
}
.header-bg-image{
	background-image: url('http://localhost/myShop/1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 425px;
	line-height: 110px;
}
.panel-default {
    margin-top: 20px;
}
.shop-now-btn{
	text-transform: uppercase;
	background-color: #E83B3F;
	border:0;
	padding: 10px 10px;
}

/******************MAIN********************/

.container-models{
	text-align: center;
	background-color: #f1f1f1;
}
.model{
	/*border:1px solid black;*/
	/*margin: 30px auto;*/
	padding:  1px 10px;
	background-color: #ffffff;
	margin-bottom: 30px;
}
.model-description{

}
.model-description h4 {
    height: 55px;
    line-height: 1.5em;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #e83b3f;
    padding-top: 10px;
}
.model-description a{
	text-decoration: none;
}
.model-description h4:hover {
    color: #f2e2e2;
}
.model-price{
	font-size: 26px;
	font-family: 'Nunito', sans-serif;
    color: #E83B3F;
}
.toys-image{
	margin: 20px 0px;
	height: 315px;
	width: 340px;
}
.toys-image:hover{
-webkit-filter: grayscale(100%);  
	filter: grayscale(100%);
}
.news-bar{
	margin-right: auto;
  	margin-left: auto;
  	margin-top: 50px;
  	margin-bottom: 20px;
}
.news-bar ul{
	list-style-type: none;
	padding: 0;
}

.news-bar ul li{
	text-transform: uppercase;
    margin-right: 52px;
    /* padding: 5px 10px; */
    display: inline-block;
}
.news-bar ul li a{
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	background-color: rgba(232, 59, 63, 0.82);
} 

.news-bar ul li:hover a:hover{
	background-color: #E83B3F;
	color: #fff;
}
legend{
	margin-top: 20px;
	text-align: center;
	padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e83b3f;
}
.admin-buttons{
	
}
.admin-buttons ul li a{
	background-color: #5d5d64;
}
.admin-buttons ul li a:hover{
	background-color: yellow;
}
.add-to-cart i{
	border: 1px solid #747474;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    line-height: 1.3em;
    background-color: #f0ecec;
    color: grey;
    margin: 0px 10px 15px 0px;

}

.add-to-cart i:hover{
	border: 1px solid #E83B3F;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    line-height: 1.3em;
    background-color: #E83B3F;
    transform: scale3d(1.3, 1.3, 1.3);
    color: #fff;
}
.btn-warning a {
    color: #fff;
}
.btn-warning a:hover {
    color: #eee6e6;
    text-decoration: none;
}



footer{
	background-color: #fff;
	padding-top: 15px;
	margin-top: 100px;
}
.info-box-title h4{
	border-bottom: 2px solid #e83b3f;
	padding-bottom: 10px;
}

.anchor-fix:hover{
	color: #cbcbcb;
	text-decoration: none;
}
.list-unstyled a{
	color: black;
	line-height: 25px;
	text-decoration: none;
}
.list-unstyled a:hover{
	color: #E83B3F;
}
.dropdown-btn{
	margin-top: 15px;
	background-color: #E83B3F;
	border: 0;
    padding: 5px 10px;
    color: #fff;
}
.dropdown-btn:focus{
	border-color: red;
}
.dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #e83b3f;
    margin-left: 3px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.icon{
	width: 40px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 26px;
    padding-top: 7px;
    background-color: #94979c;
    float: left;
    margin-right: 20px;
}
.icon a{
	color: #fff;
}	
}.icon:hover{
	color: #fff;
	background-color: #E83B3F;
    transition: all 0.4s;
	-moz-transition: 0.4s;
    -o-transition: 0.4s;
}
.copy-right{
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 15px;
	height: 50px;
}
.copy-right a{
	color: white;
}


// -------------------------------------------------------------------login page

.log-in-form{
	width: 35%;
	margin: 0 60px;
}
.form-apply{
	background-color: #fff;
	margin: 100px auto;
	padding-bottom: 26px;
}
.btn-default{
	color: #fff;
    background-color: #e83b3f;
    border-color: #d4363a;
}
.btn-default:hover {
    color: #fff;
    background-color: grey;
    border-color: #adadad;
    transition: all 0.3s ease;
}
.map{
	margin-top: 20px;
    border: 10px solid #999;
    margin-bottom: 30px;
}
.user-table{
	width: 100%;
    margin-left: 40px;
}
.user-table th, td{
	    padding-bottom: 15px;

}
.contact-form label {
	font-size: 20px;
}
.dropdown-menu{
	min-width: 98px;
	width: 0;
}
.dropdown-menu li a{
	    padding: 3px 18px;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #e83b3f;
    border-color: #ddd;
}



@media only screen and (max-width: 767px){
	.header-title h2{
	font-weight: 800;
	line-height: 2.1;
	font-size: 25px;
	}
	.navigation{
		display: none;
	}
	.toys-image{
	margin: 20px auto;
	height: 350px;
	width: 250px;
	}
	.news-bar ul li{
    display: block;
    text-align: center;
    margin: 15px 0;
	}
	.info-box-title, ul{
		text-align: center;
	}
	.icon{
		margin: 31px;
	}
	
}



